In [4]:
from astroquery.heasarc import Heasarc, Conf
import astropy.units as u
import numpy as np
import pandas as pd

In [7]:
object_name = "Cyg X-1"

# setup server (see https://astroquery.readthedocs.io/en/latest/heasarc/heasarc.html?highlight=INTEGRAL#using-alternative-heasarc-servers)
integral_query = Heasarc()
Conf.server.set('https://www.isdc.unige.ch/browse/w3query.pl')

query_dict= {}
# mission name (see https://astroquery.readthedocs.io/en/latest/heasarc/heasarc.html?highlight=INTEGRAL#using-alternative-heasarc-servers)
query_dict["mission"] = "integral_rev3_scw"
# object_name
query_dict["object_name"] = object_name
# Sort the table according to one of the Columns
query_dict["sortvar"] = "START_DATE"
# max number of results returned (0=unendlich)
query_dict["resultmax"] = 0
# for all possible input in query_dict see https://astroquery.readthedocs.io/en/latest/heasarc/heasarc.html

r = integral_query.query_object(**query_dict)
# convert bytestrings to unicode - makes it easier to use in the following
r.convert_bytestring_to_unicode()
# convert from astropy table to pandas - easier to use
p = r.to_pandas()

# int_cols = ["OBS_ID"]
# p["START_DATE"] = pd.to_datetime(p["START_DATE"], errors="coerce")
# # flt_cols = ["RA_X", "DEC_X", "_SEARCH_OFFSET"]
# # p[flt_cols] = pd.to_numeric(p[flt_cols].stack(), errors="coerce").unstack()
str_cols = ["SCW_ID", "SCW_TYPE"]
p[str_cols] = p[str_cols].stack().str.strip().unstack()

WARNING: UnitsWarning: 'ISO' did not parse as fits unit: At col 0, Unit 'ISO' not supported by the FITS standard.  If this is meant to be a custom unit, define it with 'u.def_unit'. To have it recognized inside a file reader or other code, enable it with 'u.add_enabled_units'. For details, see https://docs.astropy.org/en/latest/units/combining_and_defining.html [astropy.units.core]

In [11]:
p[p["SCW_TYPE"]=="POINTING"].iloc[1008:1011]

,SCW_ID,SCW_VER,SCW_TYPE,RA_X,DEC_X,START_DATE,END_DATE,OBS_ID,OBS_TYPE,PS,PI_NAME,GOOD_SPI,GOOD_PICSIT,GOOD_ISGRI,GOOD_JEMX,GOOD_JEMX1,GOOD_JEMX2,GOOD_OMC,DSIZE,_SEARCH_OFFSET
1796,021100210010,001,POINTING,303.098419,38.946918,2004-07-06 09:36:11,2004-07-06 10:33:58,"02200040003,02200060004,02200060005,0220006000...",GENERAL,PUBLIC,"DR.\nGREGOR\nRAUW,DR\nIAN\nSTEVENS,DR\nIAN\nST...",3464,3431,3452,3430,3430,0,3439,139466752,280.484
1798,021100220010,001,POINTING,303.236969,36.953415,2004-07-06 10:35:53,2004-07-06 11:33:41,"02200040003,02200060004,02200060005,0220006000...",GENERAL,PUBLIC,"DR.\nGREGOR\nRAUW,DR\nIAN\nSTEVENS,DR\nIAN\nST...",3415,3393,3405,3415,3415,0,3415,139464704,205.693
1799,021100220010,002,POINTING,303.236969,36.953415,2004-07-06 10:35:53,2004-07-06 11:33:41,"02200040003,02200060004,02200060005,0220006000...",GENERAL,PUBLIC,"DR.\nGREGOR\nRAUW,DR\nIAN\nSTEVENS,DR\nIAN\nST...",,,,,,,,138412032,205.693

In [23]:
p

,SCW_ID,SCW_VER,SCW_TYPE,RA_X,DEC_X,START_DATE,END_DATE,OBS_ID,OBS_TYPE,PS,PI_NAME,GOOD_SPI,GOOD_PICSIT,GOOD_ISGRI,GOOD_JEMX,GOOD_JEMX1,GOOD_JEMX2,GOOD_OMC,DSIZE,_SEARCH_OFFSET
0,001130000050,001,POINTING,299.543488,35.301971,2002-11-16 20:06:11,2002-11-16 20:16:53,...,,PUBLIC,,575,0,0,571,571,571,575,13746176,6.444
1,001130000061,001,SLEW,299.567740,35.250057,2002-11-16 20:16:53,2002-11-16 20:18:23,...,,PUBLIC,,89,1,12,75,74,75,90,3153920,3.111
2,001130000070,001,POINTING,299.590179,35.201195,2002-11-16 20:18:23,2002-11-16 20:55:43,00600030001 ...,CALIBRATION,PUBLIC,PUBLIC,1861,1815,1330,2221,2212,2221,2196,69844992,0.026
3,001130000080,001,POINTING,299.590179,35.201195,2002-11-16 20:55:43,2002-11-16 21:53:21,00600030001 ...,CALIBRATION,PUBLIC,PUBLIC,3455,3432,2161,3456,3456,2704,3458,117604352,0.026
4,001130000091,001,SLEW,300.101460,36.279747,2002-11-16 21:53:21,2002-11-16 21:55:17,00600030001 ...,CALIBRATION,PUBLIC,PUBLIC,116,0,72,116,116,0,0,4890624,69.312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19161,250300240010,001,POINTING,306.328033,35.514473,2022-05-16 13:17:35,2022-05-16 14:13:10,19200110001 ...,GENERAL,PRIVATE,PROF.\nJOERN\nWILMS,3297,3271,3296,3231,3231,3156,0,146329600,330.167
19162,250300240021,001,SLEW,307.154813,34.567347,2022-05-16 14:13:10,2022-05-16 14:15:05,19200110001 ...,GENERAL,PRIVATE,PROF.\nJOERN\nWILMS,114,0,115,113,113,0,0,5840896,374.160
19163,250300250010,001,POINTING,307.853790,33.744278,2022-05-16 14:15:05,2022-05-16 15:10:39,19200110001 ...,GENERAL,PRIVATE,PROF.\nJOERN\nWILMS,3274,3247,3273,3274,3274,3274,0,144752640,417.852
19164,250300250021,001,SLEW,307.185148,33.354976,2022-05-16 15:10:39,2022-05-16 15:12:35,19200110001 ...,GENERAL,PRIVATE,PROF.\nJOERN\nWILMS,115,0,116,116,116,114,0,6094848,392.383
19165,250300260010,001,POINTING,305.735168,32.485390,2022-05-16 15:12:35,2022-05-16 16:08:09,19200110001 ...,GENERAL,PRIVATE,PROF.\nJOERN\nWILMS,3276,3255,3275,3276,3276,3276,0,146124800,346.788

In [5]:
import pandas as pd
import numpy as np

In [6]:
a = np.random.rand(100)

In [7]:
a[a>0.5]

array([0.62234015, 0.51510374, 0.56693197, 0.85043499, 0.55142741,
       0.67132513, 0.86049707, 0.69141279, 0.55944578, 0.82677777,
       0.62234088, 0.51972122, 0.57078457, 0.68891545, 0.50052482,
       0.61841601, 0.5105579 , 0.66305097, 0.94402096, 0.74897383,
       0.90918926, 0.96279382, 0.79723449, 0.77915931, 0.77503766,
       0.62594516, 0.7706974 , 0.56663862, 0.81974844, 0.7079689 ,
       0.62538205, 0.68749091, 0.72640077, 0.98790525, 0.95772414,
       0.57751921, 0.89328979, 0.91629062, 0.71244089, 0.61590793,
       0.62955828, 0.76038255, 0.91476059, 0.70957898, 0.56868945,
       0.9427608 , 0.99546253, 0.61251427, 0.85089993, 0.90805542,
       0.56619208, 0.59674997])

In [8]:
heasarc = Heasarc()
table = heasarc.query_mission_list()
table.pprint()

   Mission    ...                Table Description
------------- ... -----------------------------------------------
CTASST1M-REV1 ...                                             Run
    FACT-REV1 ...                                             Run
INTEGRAL-REV3 ...                                       Proposals
INTEGRAL-REV3 ... Proposal Information and Observation Parameters
INTEGRAL-REV3 ...                       SCW - Science Window Data

In [9]:
table

<Table length=5>
   Mission    ...                Table Description
    str13     ...                      str47
------------- ... -----------------------------------------------
CTASST1M-REV1 ...                                             Run
    FACT-REV1 ...                                             Run
INTEGRAL-REV3 ...                                       Proposals
INTEGRAL-REV3 ... Proposal Information and Observation Parameters
INTEGRAL-REV3 ...                       SCW - Science Window Data

In [16]:
from astroquery.heasarc import Heasarc, Conf
import astropy.units as u
from astropy.coordinates import SkyCoord
import pandas as pd 
heasarc = Heasarc()
Conf.server.set('https://www.isdc.unige.ch/browse/w3query.pl')
mission = "integral_rev3_scw"
coords = SkyCoord('12h29m06.70s +02d03m08.7s', frame='icrs')
table = heasarc.query_region(position=coords, mission=mission, radius='1 degree', resultsmax=0, sortvar="_SEARCH_OFFSET")
table.convert_bytestring_to_unicode()
# convert from astropy table to pandas - easier to use
table = table.to_pandas()
table["SCW_VER"] = pd.to_numeric(table["SCW_VER"], errors="coerce")

WARNING: UnitsWarning: 'ISO' did not parse as fits unit: At col 0, Unit 'ISO' not supported by the FITS standard.  If this is meant to be a custom unit, define it with 'u.def_unit'. To have it recognized inside a file reader or other code, enable it with 'u.add_enabled_units'. For details, see https://docs.astropy.org/en/latest/units/combining_and_defining.html [astropy.units.core]

In [19]:
table["SCW_TYPE"].strip()

AttributeError: 'Series' object has no attribute 'strip'